<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Cadastro Aluno</title>
</head>

<body>
  <div class="container">
    <a href="javascript:history.back()" class="back-button"><i class="fa fa-arrow-left"></i> Voltar</a>

    <div class="form-container">
      <h1 class="student-edit-heading">Cadastrar aluno</h1>
      <form action="/alunos/create" method="POST">
        <div class="input-block">
          <label class="input-label" for="nome">Nome</label>
          <input class="input" id="nome" name="nome" placeholder="Digite seu nome" type="text">
        </div>

        <div class="input-block">
          <label class="input-label" for="sobrenome">Sobrenome</label>
          <input class="input" id="sobrenome" name="sobrenome" placeholder="Digite seu sobrenome" type="text">
        </div>
        
        <div class="input-block">
          <label class="input-label" for="ano_matricula">Ano de matrícula</label>
          <input class="input" id="ano_matricula" name="ano_matricula" placeholder="Digite seu ano de matrícula" type="number">
        </div>

        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>
</body>

</html>